<!DOCTYPE html>
<html>
  <head>
    <title>OcrReader</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= render partial: 'layouts/left_bar' %>
      <div id="page-wrapper" class="gray-bg dashbard-1">
        <%= render partial: 'layouts/top_bar' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>